/* 
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




/*

GENERALE

*/

body{
    background-color: rgb(224, 224, 224);
}



/*

HEADER

*/
h1{
    display: inline-block;
}

header h1, header img {
    vertical-align: middle;
}

header{
    background-color:white;
    padding: 5px 10px;
    margin-bottom: 50px;
}


/*

MAIN

*/

.container{
    margin: 0 auto;
    width: 75%;
}

#list-container1{
    background-color: white;
    padding: 18px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#buttonblu{
    background-color: rgb(100, 155, 255);
    color: white;
    border: none;
    margin-left: 20px;
}

.button{
    padding: 6px 14px;
    border-radius: 5px;
}

#buttonbianco{
    background-color: white;
    color: grey;
    border: 0.5px solid;
}

hr{
    width: 100%;
    color: rgb(224, 224, 224);
    border: 1px solid;
}

#list-container2{
    background-color: white;
    padding: 10px;
}

ul, li{
    padding: 5px;
    margin-left: 2px;
    list-style: none;
}

.check{
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 17px;
    display: inline-block;
    height: 17px;
    text-align: center;
    line-height: 17px;
}


.done{
    border-color: green;
    color: green;
}

.notdone{
    border-color: red;
    color: red;
}

.allert{
    display: inline-block;
    background-color: rgb(51, 163, 255);
    border-radius: 10px;
    font-size:xx-small;
    padding: 4px 10px;
    color: white;
    vertical-align: middle;
}

.editorial{
    background-color:rgb(51, 163, 255) ;
}

.q1{
    background-color: rgb(181, 101, 255);
}

.recruiting{
    background-color: rgb(0, 206, 45);
}

.mobile{
    background-color: rgb(255, 130, 58);
}

.website{
    background-color: rgb(172, 86, 180);
}

.sales{
    background-color: rgb(151, 204, 102);
}